<!DOCTYPE html>
{% extends "weight/index.html" %}

{% block title %}体重計算{% endblock %}

{% block content %}
<div class ="container">
  <div class="card bg-light mb-3">
    <div class="card-header">体重計算</div>
      <div class="card-body">
        <form action="weight_calculate_output" method="POST">
          {% csrf_token %}
          <fieldset class="form-group">
            <a>性別を選択してください</a>
              <div class="form-check">
                <label class="form-check-label">
                  <input type="radio" class="form-check-input" name="gender" id="optionsRadios1" value="0" checked="">
                    男性
                  </label>
              </div>
              <div class="form-check">
                <label class="form-check-label">
                  <input type="radio" class="form-check-input" name="gender" id="optionsRadios2" value="1">
                    女性
                </label>
              </div>
            </fieldset>
          <div class="form-group">
            <label class="col-form-label" for="inputDefault">
              身長(cm)を入力してください
            </label>
            <input type="text" class="form-control" placeholder="身長(cm)" id="inputDefault" name="height">
            <label class="col-form-label" for="inputDefault">
              体重(kg)を入力してください
            </label>
            <input type="text" class="form-control" placeholder="体重(kg)" id="inputDefault" name="weight">
          </div>
          <button type="submit" class="btn btn-primary">送信</button>
        </form>
      </div>
    </div>
    <button type="button" class="btn btn-outline-top" onclick="location.href='{% url "index" %}'">トップページへ</button>
  </div>

{% endblock %}
